.btn {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #15154c;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background: #15154c;
  color: #fff;
}

.progressbar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(closest-side, #15154c 79%, transparent 80% 100%),
    conic-gradient(#15154c 75%, white 0);
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
