.heroSection {
  display: flex;
  flex-direction: column;
  height: initial;
  // background: #0b33c6;
  background: #0d2fad;

  gap: 200px;
  padding-top: 200px;
  // padding-bottom: 200px;
  z-index: 1;
}

.heroContent {
  display: flex;
  justify-content: space-around;
  // transform: translateY(300px);
  width: 100%;
  height: 100%;

  & > div > p {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.heroContent__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  z-index: 1;
  max-width: 50%;

  & > h1 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  & > p {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.heroContent__textRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  height: 100%;
  & > p {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.heroContentImage {
  position: absolute;
  width: 100%;
  // transform: translateY(-400px);
  top: 200px;
}

@media screen and (max-width: 840px) {
  .heroContent {
    padding-inline: 20px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .heroContent__text {
    display: flex;
    align-items: center;
    max-width: 90%;
  }

  .heroContent__textRight {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 540px) {
  .heroContent {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-inline: 20px;
  }

  .heroContent__text {
    display: flex;
    align-items: center;
    max-width: 90%;
  }

  .heroContent__textRight {
    max-width: 100% !important;
  }

  .heroContent__textMobile {
    max-width: 130% !important;
    font-size: 24px !important;
  }
}
